# Ignore compiled executables and binaries
main
vector_add
bin/
data/
pg

# Virtual environment
venv/
.venv/

# LaTeX build artifacts
flashback.aux
flashback.fdb_latexmk
flashback.fls
flashback.log

# IDE & Editor settings
.vs/
.vscode/
.idea/

# Caches and Python bytecode
.cache/
cache/
__pycache__/
*.pyc
*.pyo
*.pyd